{% extends 'manager/base.html' %}
{% block content %}

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
            crossorigin="anonymous"></script>

    <style>
        .main-div {
            padding-top: 130px;
            overflow: auto;
        }

        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            width: 100%;
            min-width: 100%;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

        }

        .styled-table thead tr {
            background-color: #009879;
            color: #ffffff;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #009879;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <div class="container">
        <a href="{% url 'post-job' %}" class="btn" style="background-color: #0f8c77;margin-top:100px;position:absolute;" >Add Job</a>
    </div>


    <div class="container main-div">
        <table class="styled-table container-fluid">
            <thead>
            <tr>
                <th>Job Education</th>
                <th>Job Title</th>
                <th>Work Location</th>
                <th>Job Description</th>
                <th>Start Date</th>
                <th>Last Date</th>
                <th>Delete</th>

            </tr>
            </thead>
            <tbody>
            {% if data %}
                {% for data in data %}


                    {% if forloop.counter|divisibleby:2 %}



                        <tr>
                            <td style="text-transform: capitalize;text-align: center">
                                <a href="#" data-toggle="modal" data-target="#myModal{{ data.id }}"
                                   style="text-decoration: none;color: black">{{ data.job_education }}</a>
                            </td>
                            <td style="text-transform: capitalize;text-align: center">
                                <a href="#" data-toggle="modal" data-target="#myModal{{ data.id }}"
                                   style="text-decoration: none;color: black">{{ data.job_title }}</a>
                            </td>
                            <td style="text-transform: capitalize;text-align: center">
                                <a href="#" data-toggle="modal" data-target="#myModal{{ data.id }}"
                                   style="text-decoration: none;color: black">{{ data.work_location }}</a>
                            </td>
                            <td style="text-transform: capitalize;text-align: center">
                                <a href="#" data-toggle="modal" data-target="#myModal{{ data.id }}"
                                   style="text-decoration: none;color: black">{{ data.job_description }}</a>
                            </td>
                            <td style="text-transform: capitalize;text-align: center">
                                <a href="#" data-toggle="modal" data-target="#myModal{{ data.id }}"
                                   style="text-decoration: none;color: black">{{ data.start_date }}</a>
                            </td>
                            <td style="text-transform: capitalize;text-align: center">
                                <a href="#" data-toggle="modal" data-target="#myModal{{ data.id }}"
                                   style="text-decoration: none;color: black">{{ data.last_date }}</a>
                            </td>
                            <td>
                                <a href="delete-add-job/{{ data.id }}" class="btn btn-danger">Delete</a>
                            </td>


                        </tr>
                    {% else %}
                        <tr>
                            <td style="text-transform: capitalize;color: #0f8c77;text-align: center">
                                <a href="#" data-toggle="modal" data-target="#myModal{{ data.id }}"
                                   style="text-decoration: none;color: #0f8c77">{{ data.job_education }}</a>
                            </td>
                            <td style="text-transform: capitalize;color: #0f8c77;text-align: center">
                                <a href="#" data-toggle="modal" data-target="#myModal{{ data.id }}"
                                   style="text-decoration: none;color: #0f8c77">{{ data.job_title }}</a>
                            </td>
                            <td style="text-transform: capitalize;color: #0f8c77;text-align: center">
                                <a href="#" data-toggle="modal" data-target="#myModal{{ data.id }}"
                                   style="text-decoration: none;color: #0f8c77">{{ data.work_location }}</a>
                            </td>
                            <td style="text-transform: capitalize;color: #0f8c77;text-align: center">
                                <a href="#" data-toggle="modal" data-target="#myModal{{ data.id }}"
                                   style="text-decoration: none;color: #0f8c77">{{ data.job_description }}</a>
                            </td>
                            <td style="text-transform: capitalize;color: #0f8c77;text-align: center">
                                <a href="#" data-toggle="modal" data-target="#myModal{{ data.id }}"
                                   style="text-decoration: none;color: #0f8c77">{{ data.start_date }}</a>
                            </td>
                            <td style="text-transform: capitalize;color: #0f8c77;text-align: center">
                                <a href="#" data-toggle="modal" data-target="#myModal{{ data.id }}"
                                   style="text-decoration: none;color: #0f8c77">{{ data.last_date }}</a>
                            </td>
                            <td>
                                <a href="delete-add-job/{{ data.id }}" class="btn btn-danger">Delete</a>
                            </td>

                        </tr>
                    {% endif %}
                    <div class="modal fade" id="myModal{{ data.id }}" role="dialog">

                        <div class="modal-dialog modal-lg" style="z-index:2">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title" style="color:#0f8c77;float: left;">Update {{ data.job_title }} Job</h4>
                                </div>

                                <div class="modal-body">


                                    <form action="{% url 'update-job-form' id=data.id %}" method="post"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Job Title</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp"
                                                   name="job_title" value="{{ data.job_title }}" required>

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">State</label>
                                            <input type="text" class="form-control wpcf7-form-control-wrap"
                                                      id="exampleInputEmail1"
                                                      aria-describedby="emailHelp"
                                                      name="state" value="{{ data.state }}"
                                                      required>

                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Work Location</label>
                                            <input type="text" class="form-control wpcf7-form-control-wrap"
                                                      id="exampleInputEmail1"
                                                      aria-describedby="emailHelp"
                                                      name="work_location" value="{{ data.work_location }}" required>

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Job Decription</label>
                                            <input type="text" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp"
                                                   name="job_description" value="{{ data.job_description }}" required>

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Start Data</label>
                                            <input type="date" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp"
                                                   name="start_date" value="{{ data.start_date }}" required>

                                        </div>
                                         <div class="form-group">
                                            <label for="exampleInputEmail1">last Data</label>
                                            <input type="date" class="form-control" id="exampleInputEmail1"
                                                   aria-describedby="emailHelp"
                                                   name="last_date" value="{{ data.last_date }}" required>

                                        </div>

                                        <button type="submit" class="btn" style="background: #0f8c77;color: black">
                                            Submit
                                        </button>
                                    </form>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endfor %}
            {% else %}
                <center>
                    <div class="container">No data found!</div>
                </center>
            {% endif %}
            </tbody>
        </table>
    </div>











    <script>
   setTimeout(function (){
       if ($('#msg').length>0){
           $('#msg').remove();
       }
   }, 2000)








    </script>
{% endblock %}