{% extends 'base.html' %}
{% load static %}

{% block content %}
     {% load cache %}
     {% cache 1000 content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css">
    <link rel="stylesheet" href="/vendors/formvalidation/dist/css/formValidation.min.css">

    <br><br><br><br><bR>
    <div class="container">
        <section
                class="elementor-section elementor-top-section elementor-element elementor-element-21007b6 elementor-section-stretched scheme_light elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static"
                data-id="21007b6" data-element_type="section"
                data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}"
        >
            <div class="elementor-background-overlay"></div>
            <div class="elementor-container elementor-column-gap-extended">
                <div class="elementor-row">
                    <div class="elementor-column elementor-col-100  elementor-top-column elementor-element elementor-element-cfe325e sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
                         data-id="cfe325e" data-element_type="column">
                        <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                                <div class="elementor-element elementor-element-5a2bf65 sc_height_large animation_type_block sc_fly_static elementor-widget elementor-widget-spacer"
                                     data-id="5a2bf65" data-element_type="widget"
                                     data-widget_type="spacer.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-spacer">
                                            <div class="elementor-spacer-inner"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <section
                                            class="elementor-section elementor-inner-section elementor-element elementor-element-154b1c3 elementor-section-boxed elementor-section-height-default elementor-section-height-default sc_fly_static "
                                            data-id="154b1c3" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-2f48f13 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
                                                     data-id="2f48f13"
                                                     data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-9a9945c sc_layouts_hide_on_mobile animation_type_block sc_fly_static elementor-widget elementor-widget-spacer"
                                                                 data-id="9a9945c"
                                                                 data-element_type="widget"
                                                                 data-widget_type="spacer.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-spacer">
                                                                        <div class="elementor-spacer-inner"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-a82c94e animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_title"
                                                                 data-id="a82c94e"
                                                                 data-element_type="widget"
                                                                 data-widget_type="trx_sc_title.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="sc_title sc_title_default">
                                                                        <h4 class="sc_item_title sc_title_title sc_item_title_style_default sc_item_title_tag">
                                                                            <span class="sc_item_title_text"
                                                                                  style="color: #0f8c77">{{ data.job_title }}</span>
                                                                        </h4></div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-0594ee0 animation_type_block sc_fly_static elementor-widget elementor-widget-spacer"
                                                                 data-id="0594ee0"
                                                                 data-element_type="widget"
                                                                 data-widget_type="spacer.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-spacer">
                                                                        <div class="elementor-spacer-inner"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-8278c1d animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_icons"
                                                                 data-id="8278c1d"
                                                                 data-element_type="widget"
                                                                 data-widget_type="trx_sc_icons.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="sc_icons sc_icons_simple sc_icons_size_small sc_align_none">
                                                                        <div class="sc_icons_item with_more">
                                                                            <div class="sc_icons_item_details">
                                                                                <div class="sc_icons_item_description">
                                                                                                                <span>{{ data.job_education }}<br>
                                                                                                                                   {{ data.job_description|safe }}




                                                                                                                </span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="sc_icons_item with_more">
                                                                            <div class="sc_icons_item_details">
                                                                                <div class="sc_icons_item_description">
                                                                                                                <span><a
                                                                                                                        href="mailto:info@email.com"
                                                                                                                        class="underline_hover">inbox@cubexo.io</a></span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="sc_icons_item sc_icons_item_linked with_more">
                                                                            <div class="sc_icons_item_details">
                                                                                <a href="tel:18408412569"
                                                                                   class="sc_icons_item_more_link">
                                                                                    <span class="link_text"
                                                                                          style="color: #0f8c77">+91 - 9111620002</span><span
                                                                                        class="link_icon"></span>
                                                                                </a><a
                                                                                    href="tel:9111620002"
                                                                                    class="sc_icons_item_link">
                                                                            </a></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-04cc8a1 animation_type_block sc_fly_static elementor-widget elementor-widget-spacer"
                                                                 data-id="04cc8a1"
                                                                 data-element_type="widget"
                                                                 data-widget_type="spacer.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-spacer">
                                                                        <div class="elementor-spacer-inner"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-8c03134 animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_socials"
                                                                 data-id="8c03134"
                                                                 data-element_type="widget"
                                                                 data-widget_type="trx_sc_socials.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="sc_socials sc_socials_default sc_align_none">
                                                                        <div class="socials_wrap sc_item_content">
                                                                            <a target="_blank"
                                                                               href="https://www.facebook.com/AncoraThemes/"
                                                                               class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span
                                                                                    class="social_icon social_icon_facebook-1"
                                                                                    style=""><span
                                                                                    class="icon-facebook-1"></span></span></a><a
                                                                                target="_blank"
                                                                                href="https://twitter.com/ancora_themes"
                                                                                class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span
                                                                                class="social_icon social_icon_twitter-new"
                                                                                style=""><span
                                                                                class="icon-twitter-new"></span></span></a><a
                                                                                target="_blank"
                                                                                href="https://in.linkedin.com/company/cubexo-software-solutions"
                                                                                class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span
                                                                                class="social_icon social_icon_dribble-new"
                                                                                style=""><i
                                                                                class="fab fa-linkedin-in"></i></span></a><a
                                                                                target="_blank"
                                                                                href="https://www.instagram.com/ancora_themes/"
                                                                                class="social_item social_item_style_icons sc_icon_type_icons social_item_type_icons"><span
                                                                                class="social_icon social_icon_instagram"
                                                                                style=""><span
                                                                                class="icon-instagram"></span></span></a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-449e67f sc_height_medium sc_layouts_hide_on_wide sc_layouts_hide_on_desktop sc_layouts_hide_on_notebook sc_layouts_hide_on_tablet animation_type_block sc_fly_static elementor-widget elementor-widget-spacer"
                                                                 data-id="449e67f"
                                                                 data-element_type="widget"
                                                                 data-widget_type="spacer.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-spacer">
                                                                        <div class="elementor-spacer-inner"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20  elementor-inner-column elementor-element elementor-element-6f51ef1 sc_inner_width_none sc_content_align_inherit sc_layouts_column_icons_position_left sc_fly_static"
                                                     data-id="6f51ef1"
                                                     data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-7317bac animation_type_block sc_fly_static elementor-widget elementor-widget-trx_sc_contact_form_7"
                                                                 data-id="7317bac"
                                                                 data-element_type="widget"
                                                                 data-widget_type="trx_sc_contact_form_7.default">
                                                                <div class="elementor-widget-container">
                                                                    <div role="form"
                                                                         class="wpcf7 alert_inited"
                                                                         id="wpcf7-f1324-p1453-o1"
                                                                         lang="en-US"
                                                                         dir="ltr">
                                                                        <div class="screen-reader-response">
                                                                            <p role="status"
                                                                               aria-live="polite"
                                                                               aria-atomic="true"></p>
                                                                            <ul></ul>
                                                                        </div>
                                                                        <form action="{% url 'submit-form' %}"
                                                                              method="post" id="demoForm"
                                                                              enctype="multipart/form-data"
                                                                              class="wpcf7-form init"

                                                                        >
                                                                            {% csrf_token %}


                                                                            <div class="form-style-3">
                                                                                <div class="columns_wrap">
                                                                                    <div class="column-1_2">
                                                                                        <i class="fa fa-user"
                                                                                           style="color: #0f8c77"></i><span
                                                                                            class="wpcf7-form-control-wrap your-name">
                                                                                                                        <input
                                                                                                                                type="text"
                                                                                                                                pattern="[A-Za-z ]{1,32}"
                                                                                                                                title="Please Enter Valid Name"
                                                                                                                                name="name"
                                                                                                                                size="80"
                                                                                                                                placeholder="Name"
                                                                                                                                required="required">
                                                                                                                        <span
                                                                                                                                class="line"></span></span></span>
                                                                                    </div>
                                                                                    <div class="column-1_2">
                                                                                                                    <span class="style-line icon-email"
                                                                                                                          style="color: #0f8c77"><span
                                                                                                                            class="wpcf7-form-control-wrap your-email"><input
                                                                                                                            type="email"
                                                                                                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                                                                                                            name="email"
                                                                                                                            value=""
                                                                                                                            size="80"
                                                                                                                            class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email fill_inited"

                                                                                                                            aria-invalid="false"
                                                                                                                            placeholder="Email Address"
                                                                                                                            required><span
                                                                                                                            class="line"
                                                                                                                            aria-required="true"></span></span></span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="columns_wrap">
                                                                                    <div class="column-1_2">
                                                                                                                    <span class="style-line icon-phone"
                                                                                                                          style="color: #0f8c77"><span
                                                                                                                            class="wpcf7-form-control-wrap phone"><input
                                                                                                                            type="tel"
                                                                                                                            pattern="[6789][0-9]{9}"
                                                                                                                            title="Number should start with 6,7,8,9 and maximum 10 Number allowed"
                                                                                                                            name="number"
                                                                                                                            value=""
                                                                                                                            size="80"
                                                                                                                            class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel fill_inited"
                                                                                                                            aria-required="true"
                                                                                                                            aria-invalid="false"
                                                                                                                            placeholder="Phone"
                                                                                                                            required><span
                                                                                                                            class="line"></span></span></span>
                                                                                    </div>
                                                                                    <div class="column-1_2">
                                                                                        <i class="fa fa-book"
                                                                                           style="color: #0f8c77"></i><span
                                                                                            class="wpcf7-form-control-wrap subject"><input
                                                                                            type="text"
                                                                                            name="subject"
                                                                                            value="{{ data.job_title }}"
                                                                                            size="80"
                                                                                            class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required fill_inited"
                                                                                            aria-required="true"
                                                                                            aria-invalid="false"
                                                                                            placeholder="Subject"
                                                                                            readonly><span
                                                                                            class="line"></span></span></span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="columns_wrap">
                                                                                    <div class="column-1_2">
                                                                                        <i class="fas fa-map-marker-alt"
                                                                                           style="color: #0f8c77"></i><span
                                                                                            class="wpcf7-form-control-wrap phone"><input
                                                                                            type="text"
                                                                                            name="city"
                                                                                            pattern="[A-Za-z ]{1,32}"
                                                                                            value=""
                                                                                            size="40"
                                                                                            class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel fill_inited"
                                                                                            aria-required="true"
                                                                                            aria-invalid="false"
                                                                                            placeholder="City" required><span
                                                                                            class="line"></span></span></span>
                                                                                    </div>
                                                                                    <div class="columns_wrap margin-bottom">
                                                                                        <div class="column-1_1">
                                                                                            <i class="fas fa-envelope-open-text"
                                                                                               style="color: #0f8c77"></i><span
                                                                                                class="wpcf7-form-control-wrap your-message"><textarea
                                                                                                name="cover_leter"
                                                                                                cols="80"
                                                                                                rows="10"
                                                                                                class="wpcf7-form-control wpcf7-textarea wpcf7-validates-as-required fill_inited"
                                                                                                aria-required="true"
                                                                                                aria-invalid="false"
                                                                                                placeholder="Cover letter!"></textarea><span
                                                                                                class="line"></span></span></span>
                                                                                        </div>
                                                                                        <div class="columns_wrap">
                                                                                            <div class="column-1_2">
                                                                                                <i class="fas fa-file-pdf"
                                                                                                   style="color: #0f8c77"></i>
                                                                                                Resume<span
                                                                                                    class="wpcf7-form-control-wrap file-upload"
                                                                                                    id="resume_link"><input
                                                                                                    type="file"
                                                                                                    name="file_cv"
                                                                                                    id="resume"

                                                                                                    value=""
                                                                                                    size="80"
                                                                                                    class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-required wpcf7-validates-as-tel fill_inited"
                                                                                                    aria-required="true"
                                                                                                    aria-invalid="false"
                                                                                                    placeholder="Upload Resume"
                                                                                                    accept="application/pdf,application/msword,
  application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                                                                                    required><span
                                                                                                    class="line"></span></span></span>
                                                                                            </div>
                                                                                            <script>
                                                                                                var file = document.getElementById('resume');

file.onchange = function(e) {
  var ext = this.value.match(/\.([^\.]+)$/)[1];
  switch (ext) {
    case 'pdf':
    case 'doc':
    case 'docx':


      break;
    default:
      alert('File format Not allowed, Only pdf or doc or docx allowed');
      this.value = '';
  }
};

                                                                                            </script>

                                                                                        </div>
                                                                                        <br><br>
                                                                                        <p><span
                                                                                                style="color: #0f8c77; "
                                                                                                class="wpcf7-submit-style">
                                                                                                                <input type="submit"
                                                                                                                       value="Get In Touch"
                                                                                                                       style="background-color: #0f8c77"></input>
                                                                                                                </span>
                                                                                        </p>
                                                                                    </div>
                                                                                    <div class="wpcf7-response-output"
                                                                                         aria-hidden="true"></div>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </section>
                                    <div class="elementor-element elementor-element-53ac9d7 sc_height_huge animation_type_block sc_fly_static elementor-widget elementor-widget-spacer"
                                         data-id="53ac9d7" data-element_type="widget"
                                         data-widget_type="spacer.default">
                                        <div class="elementor-widget-container">
                                            <div class="elementor-spacer">
                                                <div class="elementor-spacer-inner"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{%  endcache %}
{% endblock %}