{% extends 'base.html' %}
{% block content %}
    <style>
    .sticky_socials_wrap.sticky_socials_modern .social_item:hover {
    color: #0f8c77;
}
.sticky_socials_wrap.sticky_socials_modern .social_item:hover {
    color: #0f8c77;
}
    </style>
 <div class="sc_layouts_item elementor-element elementor-element-2d9f453 sc_height_huge animation_type_block sc_fly_static elementor-widget elementor-widget-spacer"
         data-id="2d9f453" data-element_type="widget"
         data-widget_type="spacer.default">
        <div class="elementor-widget-container">
            <div class="elementor-spacer">
                <div class="elementor-spacer-inner"></div>
            </div>
        </div>
    </div>
     <div class="sc_layouts_item elementor-element elementor-element-2d9f453 sc_height_huge animation_type_block sc_fly_static elementor-widget elementor-widget-spacer"
         data-id="2d9f453" data-element_type="widget"
         data-widget_type="spacer.default">
        <div class="elementor-widget-container">
            <div class="elementor-spacer">
                <div class="elementor-spacer-inner"></div>
            </div>
        </div>
    </div>
<div class="container">
 {{ obj.blog_body|safe}}

</div>

<br><br><bR><br><bR>
   {% endblock %}
